
////background variables
$bg-color-primary: #1653A5;
$bg-color-secondary: #FF66C4;
$bg-color-third: #FFFFFF;
$bg-color-disabled:rgba(140, 138, 138, 0.2);

////border variables

$border-color-primary:rgba(255, 102, 196, 0.4);
$border-color-secondary:#235FB0;


//////text variables

$text-color-primary: #FFFFFF;
$text-color-secondary: #03010D;
$text-color-third: #5A8CCF;
$text-color-four: #FF66C4;

$fs-primary:13px;
$fs-secondary:12px;
$fs-third:26px;

$lineH-primary:20px;
$lineH-secondary:18px;
$lineH-third:36px;
$lineH-four:16px;


